In [1]:
"""
a. Aprende a leer una tabla con astropy tables, cargando una de tus tablas de isocronas o tu tabla de datos
b. Toma dos columnas y sumalas. Escribe el resultado en otro archivo
"""

#a. abrir tabla con astropy 
from astropy.io import ascii     #Actualmente astropy.table se usa al leer una tabla ASCII usando astropy.io.ascii
import numpy as np 

data = ascii.read("1Myr.ascii")
print(data)

edades1 = ascii.read('1Myrs.csv', format ='csv')
print(edades1)

 Zini     MH   logAge      Mini      ... mbolmag  Gmag  G_BPmag G_RPmag
------ ------- ------ -------------- ... ------- ------ ------- -------
0.0152 0.01508    6.0   0.0900000036 ...   8.073  9.797  11.946   8.424
0.0152 0.01508    6.0   0.1000000015 ...   7.822  9.468  11.536   8.113
0.0152 0.01508    6.0   0.1098617315 ...   7.615  9.203  11.212   7.862
0.0152 0.01508    6.0   0.1200000122 ...   7.413  8.951  10.907   7.623
0.0152 0.01508    6.0    0.135400176 ...   7.152  8.632  10.529   7.319
0.0152 0.01508    6.0   0.1400000006 ...   7.081  8.546  10.428   7.237
0.0152 0.01508    6.0   0.1473688781 ...   6.982  8.425  10.283   7.122
   ...     ...    ...            ... ...     ...    ...     ...     ...
0.0152 0.01508    6.0 350.0042724609 ... -10.293 -3.619  -3.792  -3.299
0.0152 0.01508    6.0 350.0043640137 ... -10.199 -3.704   -3.89  -3.343
0.0152 0.01508    6.0 350.0045166016 ... -10.118 -3.623  -3.809  -3.263
0.0152 0.01508    6.0 350.0046386719 ... -10.073 -3.578  -3.764  -3.217
0.0152 0.01508    6.0 350.0047607422 ... -10.057 -3.563  -3.749  -3.202
0.0152 0.01508    6.0 350.0048217773 ... -10.069 -3.575   -3.76  -3.214
0.0152 0.01508    6.0 350.0048522949 ... -10.322 -3.828  -4.013  -3.467
Length = 257 rows
         Zini            MH   logAge      Mini      ...  Gmag  G_BPmag G_RPmag
--------------------- ------- ------ -------------- ... ------ ------- -------
               0.0152 0.01508      6   0.0900000036 ...  9.797  11.946   8.424
               0.0152 0.01508      6   0.1000000015 ...  9.468  11.536   8.113
               0.0152 0.01508      6   0.1098617315 ...  9.203  11.212   7.862
               0.0152 0.01508      6   0.1200000122 ...  8.951  10.907   7.623
               0.0152 0.01508      6    0.135400176 ...  8.632  10.529   7.319
               0.0152 0.01508      6   0.1400000006 ...  8.546  10.428   7.237
               0.0152 0.01508      6   0.1473688781 ...  8.425  10.283   7.122
                  ...     ...    ...            ... ...    ...     ...     ...
               0.0152 0.01508      6 350.0043640137 ... -3.704   -3.89  -3.343
               0.0152 0.01508      6 350.0045166016 ... -3.623  -3.809  -3.263
               0.0152 0.01508      6 350.0046386719 ... -3.578  -3.764  -3.217
               0.0152 0.01508      6 350.0047607422 ... -3.563  -3.749  -3.202
               0.0152 0.01508      6 350.0048217773 ... -3.575   -3.76  -3.214
               0.0152 0.01508      6 350.0048522949 ... -3.828  -4.013  -3.467
#isochrone terminated      --     --             -- ...     --      --      --
Length = 258 rows

In [5]:
#Leer csv de otra manera
import pandas as pd

df = pd.read_csv('CygnusX_HDWISE_G134.csv')
df.head()

,APOGEE_ID,RA,DEC,APOGEE_Net_Logg,mean_Logg,sd_Logg,APOGEE_Net_Teff,mean_Teff,sd_Teff,APOGEE_Net_FeH,...,e_Hmag,e_Kmag,ID,ccf,ex,var,qph,d2M,kk,logmeanTef
0,2M20185889+3735567,304.7454,37.5991,2.1280,2.1285,0.0378,4351.9917,4353.1436,20.6085,-0.0034,...,3.05013780135101E+018,0,1,110n,AAAU,0.531,0.885211547222778,3.638800,3.638803,3.638803
1,2M20195377+3809579,304.9740,38.1661,1.8626,1.8826,0.1082,4135.8467,4131.3867,50.2179,0.1032,...,1,00nn,AAUU,0.63,0.819157172367812,3.6161,3.61609584707443,3.616096,NaN,NaN
2,2M20320923+4017394,308.0385,40.2943,3.8912,3.8400,0.1577,3461.9351,3512.7329,57.6795,-0.0679,...,0.027,3.08514080135101E+018,00hD,0,nnnn,AACU,0.198,1.235656,3.545650,3.545645
3,2M20322151+4011045,308.0896,40.1846,4.2969,4.3092,0.1512,3675.4854,3826.0164,163.7985,-0.0982,...,3.08514080135101E+018,00DH,1,41nn,AAUU,0.601,1.74471334130024,3.582750,3.582747,3.582747
4,2M20194918+3820337,304.9549,38.3427,4.3992,4.4027,0.0066,7250.3701,7254.5063,11.8865,-0.8971,...,0.016,3.05013780135105E+018,0hh0,1,3210,AAAA,1.475,1.182033,3.860610,3.860608

In [11]:
#Suma de las columnas completas 
sum(df['mean_Logg']) + sum(df['mean_Teff'])

#Suma todos los valores de cada columna
print (df[['mean_Logg','mean_Teff']].sum())

mean_Logg    3.122413e+03
mean_Teff    4.211190e+06
dtype: float64

In [8]:
#cooncatenar 
df['logg+Teff'] = df['mean_Logg'] + df['mean_Teff']  
df

,APOGEE_ID,RA,DEC,APOGEE_Net_Logg,mean_Logg,sd_Logg,APOGEE_Net_Teff,mean_Teff,sd_Teff,APOGEE_Net_FeH,...,e_Kmag,ID,ccf,ex,var,qph,d2M,kk,logmeanTef,logg+Teff
0,2M20185889+3735567,304.7454,37.5991,2.1280,2.1285,0.0378,4351.9917,4353.1436,20.6085,-0.0034,...,0,1,110n,AAAU,0.531,0.885211547222778,3.638800,3.638803,3.638803,4355.2721
1,2M20195377+3809579,304.9740,38.1661,1.8626,1.8826,0.1082,4135.8467,4131.3867,50.2179,0.1032,...,00nn,AAUU,0.63,0.819157172367812,3.6161,3.61609584707443,3.616096,NaN,NaN,4133.2693
2,2M20320923+4017394,308.0385,40.2943,3.8912,3.8400,0.1577,3461.9351,3512.7329,57.6795,-0.0679,...,3.08514080135101E+018,00hD,0,nnnn,AACU,0.198,1.235656,3.545650,3.545645,3516.5729
3,2M20322151+4011045,308.0896,40.1846,4.2969,4.3092,0.1512,3675.4854,3826.0164,163.7985,-0.0982,...,00DH,1,41nn,AAUU,0.601,1.74471334130024,3.582750,3.582747,3.582747,3830.3256
4,2M20194918+3820337,304.9549,38.3427,4.3992,4.4027,0.0066,7250.3701,7254.5063,11.8865,-0.8971,...,3.05013780135105E+018,0hh0,1,3210,AAAA,1.475,1.182033,3.860610,3.860608,7258.9090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,2M20205963+4038241,305.2485,40.6400,1.2627,1.2622,0.0195,3989.7500,3988.0425,15.4630,-0.7605,...,0.018,3.04614080135102E+018,0,0,2000,BBAA,0.158000,0.964829,3.600760,3989.3047
748,2M20152803+3825260,303.8668,38.4239,3.9670,3.9742,0.0665,7266.8672,7196.9248,110.2733,-1.1362,...,0.016,3.03113780135105E+018,HHh0,0,nn10,AAAB,0.011000,1.045057,3.857147,7200.8990
749,2M20164787+3907402,304.1995,39.1278,3.6861,3.7536,0.0902,3961.1177,3967.4829,61.3201,-0.0397,...,00h0,0,1111,AABB,0.161,1.03210189941509,3.598520,3.598515,3.598515,3971.2365
750,2M20183384+3731291,304.6410,37.5248,2.7789,2.7347,0.1201,4769.0366,4738.8301,60.1689,-0.2546,...,12nn,AAUU,0.917,0.871973796461573,3.67567,3.67567113833536,3.675671,NaN,3.675671,4741.5648
751,2M20333164+4121459,308.3819,41.3628,4.6023,4.7092,0.1095,6532.7939,6320.7441,285.8734,-0.9013,...,3.08514080135104E+018,00dd,1,12n1,AABA,0.265,1.299693,3.800770,3.800768,6325.4533

In [9]:
#selecciona dos columnas
df1 = pd.DataFrame(df,columns=['mean_Logg','mean_Teff']) 
print (df1)

     mean_Logg  mean_Teff
0       2.1285  4353.1436
1       1.8826  4131.3867
2       3.8400  3512.7329
3       4.3092  3826.0164
4       4.4027  7254.5063
..         ...        ...
747     1.2622  3988.0425
748     3.9742  7196.9248
749     3.7536  3967.4829
750     2.7347  4738.8301
751     4.7092  6320.7441

[752 rows x 2 columns]

In [14]:
#Ahora con otra tabla
processDf = pd.read_csv('1Myrs.csv')
processDf.head()

#Para guardar la lista de datos en csv con la suma 
x = df['logg+Teff'] = df['mean_Logg'] + df['mean_Teff'] 

#Para escribir los datos en un archivo
import csv
with open('ConcatenaciÃ³n.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file, delimiter=",")
    csv_writer.writerow(x)
#se deben invertir filas por columnas.